*{
    padding:0;
    margin:0;
}
header {
    background-color: black;
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100px
}
.candidate1 {
    background-color:black;
    color:rgb(8, 193, 8);
    height:auto;
}
.candidate1 h2 {
    color:rgb(8, 193, 8);
    font-size: 50px;
}
.candidate1img {
  display: flex;
  gap:10px;
}
.candidate1img img{
  flex: 1;
  width: 0;
  object-fit: cover;
}
.candidate1 p {
    color:rgb(8, 193, 8);
    font-size: 60px;
    margin:0;
    padding:20px 0;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}
.candidate2 {
    background-color:black;
    color:rgb(8, 193, 8);
    height:auto;
}
.candidate2 h2 {
    color:rgb(8, 193, 8);
    font-size: 50px;
}
.candidate2img {
  display: flex;
  gap:10px;
}
.candidate2img img{
  flex: 1;
  width: 0;
  object-fit: cover;
}
.candidate2 p {
    color:rgb(8, 193, 8);
    font-size: 60px;
    margin:0;
    padding:20px 0;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}
.candidate3 {
    background-color:black;
    color:rgb(8, 193, 8);
    height:auto;
}
.candidate3 h2 {
    color:rgb(8, 193, 8);
    font-size: 50px;
}
.candidate3img {
  display: flex;
  gap:10px;
}
.candidate3img img{
  flex: 1;
  width: 0;
  object-fit: cover;
}
.candidate3 p {
    color:rgb(8, 193, 8);
    font-size: 60px;
    margin: 0;
    padding: 20px 0;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}
.more {
    background-color:black;
    color:rgb(8, 193, 8);
    font-size: 60px;
    height:auto;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}
footer {
    background-color:black;
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    height:40px
}